
        @font-face {
         font-family: 'Kanit';
         src: url('./Kanit/Kanit-Regular.ttf');
       }
     body { 
         font-family: 'Kanit';
         background:url('loki3.jpg');
         background-size: cover;
         border-radius: 20px;
         margin: 0;  
         display: flex;
         justify-content: center;
         align-items: center;
         margin-top: 0px;
     }
     .container {
         font-family: 'Kanit';
         margin-top: 12px;
         background: linear-gradient(5deg,rgba(67, 71, 65, 0.94), rgba(112, 88, 81, 0.89));
         background-size: cover;
         overflow: hidden;
         color: white;
         width: 100%;
         max-width: 640px;
         margin-left: auto;
         margin-right: auto;
         padding: 40px;
         box-sizing: border-box;
         border-radius: 10px;
         box-shadow: 4px 4px 20px rgba(176, 251, 100, 0.8);
         text-shadow: 1px 1px 2px rgb(4, 4, 4);
     }
     .header {
         font-size: 30px;
         text-align: center;
         margin-bottom: 20px;
         
     }
     .header-form {
         width: 140px;
         front-weight: normal;
         margin-bottom: 10px;
         padding-left: 10px;
     }
     .flex {
         margin-bottom: 10px;
     }
     
     .form-input {
         margin-bottom: 10px;
         padding-right: 40px;
     }
     input.form , textarea {
         border: 1px solid #ccc;
         background: rgba(255, 255, 255, 0.3);
         color: black;
         letter-spacing: 1px;
         border: 0;
         border-radius:5px;
         width: 100%;
         height: 35px;
         padding-left: 10px;
         max-width: 100%;
     }
     input.form:hover, textarea:hover {
         background: rgba(255, 255, 255, 0.5);
         cursor: pointer;
     }
     .center {
         text-align: center;
     }
     .button {
         font-family: 'Kanit';
         font-size: 15px;
         background: linear-gradient(200deg,rgb(243, 131, 71),rgb(248, 81, 81));
         border-radius: 7px;
         border: 0;
         width: 50%;
         height: 50px;
         color: white;
         transition: 0.1s;
         text-shadow: 1px 1px 2px rgb(4, 4, 4);
     }
     button:hover {
         background: linear-gradient(200deg,rgb(246, 239, 30),rgb(134, 240, 110));
         cursor: pointer;
         transition: 0.3s;
         transform: translateY(-3px);
         box-shadow: 0px 0px 20px rgb(134, 240, 110);
         text-shadow: 1px 1px 2px rgb(134, 240, 110);
     }
     .message {
         margin-buttom: 10px;
         padding: 15px;
         background-color: lightgray;
         color: black;
         display: none;
     }
     .message.success {
         background-color: lightgreen;
         display: block;
         margin-bottom: 20px;
     }
     .message.danger {
         background-color: lightcoral;
         display: block;
         margin-bottom: 20px;
     }
      select {
        padding: 10px;
        border-radius: 5px;
        border: 2px solidrgb(0, 0, 0);
        font-size: 16px;
        width: 100%;
        background-color: #f0f8ff;
        transition: border-color 0.3s ease, background-color 0.3s ease;
      }
      
      select:hover {
        background-color: #e0f7fa;
        border-color: #00796b;
      }
      
      /* Style for options inside the select dropdown */
      option {
        font-size: 16px;
        padding: 10px;
      }
      
      /* Customize the header */
      h2 {
        font-size: 14px;
        color: rgb(255, 255, 255);
        text-align: center;
        
      }

     @media screen and (max-width: 768px) {
         .flex {
             flex-direction: column;
         }
         .header {
             font-size: 24px;
         }
         .button {
             width: 100%;
         }
     }